@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Alegreya+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_default_styles {
  --mixin-3B-_qP9seol7kh_font-family: "Inter", sans-serif;
  --mixin-3B-_qP9seol7kh_font-size: 16px;
  --mixin-3B-_qP9seol7kh_font-weight: 400;
  --mixin-3B-_qP9seol7kh_font-style: normal;
  --mixin-3B-_qP9seol7kh_color: #535353;
  --mixin-3B-_qP9seol7kh_text-align: left;
  --mixin-3B-_qP9seol7kh_text-transform: none;
  --mixin-3B-_qP9seol7kh_line-height: 1.5;
  --mixin-3B-_qP9seol7kh_letter-spacing: normal;
  --mixin-3B-_qP9seol7kh_white-space: pre-wrap;
  --mixin-3B-_qP9seol7kh_user-select: text;
  --mixin-3B-_qP9seol7kh_text-decoration-line: none;
  --mixin-3B-_qP9seol7kh_text-overflow: clip;
  --mixin-WbubmF4KTpzMVr_color: #000000;
  --mixin-WbubmF4KTpzMVr_font-size: 24px;
  --mixin-WbubmF4KTpzMVr_font-weight: 600;
  --mixin-WbubmF4KTpzMVr_letter-spacing: -0.5px;
  --mixin-WbubmF4KTpzMVr_line-height: 1.3;
  --mixin-WbubmF4KTpzMVr_white-space: pre-wrap;
  --mixin-qzFj9Q0-lZkAFG_color: #000000;
  --mixin-qzFj9Q0-lZkAFG_font-size: 20px;
  --mixin-qzFj9Q0-lZkAFG_font-weight: 600;
  --mixin-qzFj9Q0-lZkAFG_letter-spacing: -0.3px;
  --mixin-qzFj9Q0-lZkAFG_line-height: 1.5;
  --mixin-qzFj9Q0-lZkAFG_white-space: pre-wrap;
  --mixin-p2JIP35CLvjQ0N_color: #000000;
  --mixin-p2JIP35CLvjQ0N_font-size: 16px;
  --mixin-p2JIP35CLvjQ0N_font-weight: 600;
  --mixin-p2JIP35CLvjQ0N_line-height: 1.5;
  --mixin-p2JIP35CLvjQ0N_white-space: pre-wrap;
  --mixin-XCSXXrYijO_3yD_color: #0070f3;
  --mixin-XCSXXrYijO_3yD_white-space: pre-wrap;
  --mixin-CIELdRB-Px_QxG_border-left-color: #dddddd;
  --mixin-CIELdRB-Px_QxG_border-left-style: solid;
  --mixin-CIELdRB-Px_QxG_border-left-width: 3px;
  --mixin-CIELdRB-Px_QxG_color: #888888;
  --mixin-CIELdRB-Px_QxG_padding-left: 10px;
  --mixin-CIELdRB-Px_QxG_white-space: pre-wrap;
  --mixin-S9kJ3cdMxeWZjx_color: #000000;
  --mixin-S9kJ3cdMxeWZjx_font-size: 72px;
  --mixin-S9kJ3cdMxeWZjx_font-weight: 900;
  --mixin-S9kJ3cdMxeWZjx_letter-spacing: -4px;
  --mixin-S9kJ3cdMxeWZjx_line-height: 1;
  --mixin-S9kJ3cdMxeWZjx_white-space: pre-wrap;
  --mixin-xHFAqjee80wsJI_color: #000000;
  --mixin-xHFAqjee80wsJI_font-size: 48px;
  --mixin-xHFAqjee80wsJI_font-weight: 700;
  --mixin-xHFAqjee80wsJI_letter-spacing: -1px;
  --mixin-xHFAqjee80wsJI_line-height: 1.1;
  --mixin-xHFAqjee80wsJI_white-space: pre-wrap;
  --mixin-i06J9DFARKSUor_color: #000000;
  --mixin-i06J9DFARKSUor_font-size: 32px;
  --mixin-i06J9DFARKSUor_font-weight: 600;
  --mixin-i06J9DFARKSUor_letter-spacing: -0.8px;
  --mixin-i06J9DFARKSUor_line-height: 1.2;
  --mixin-i06J9DFARKSUor_white-space: pre-wrap;
  --mixin-95Ev3Fnv5nxCpH_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-95Ev3Fnv5nxCpH_border-bottom-color: #dddddd;
  --mixin-95Ev3Fnv5nxCpH_border-bottom-style: solid;
  --mixin-95Ev3Fnv5nxCpH_border-bottom-width: 1px;
  --mixin-95Ev3Fnv5nxCpH_border-left-color: #dddddd;
  --mixin-95Ev3Fnv5nxCpH_border-left-style: solid;
  --mixin-95Ev3Fnv5nxCpH_border-left-width: 1px;
  --mixin-95Ev3Fnv5nxCpH_border-right-color: #dddddd;
  --mixin-95Ev3Fnv5nxCpH_border-right-style: solid;
  --mixin-95Ev3Fnv5nxCpH_border-right-width: 1px;
  --mixin-95Ev3Fnv5nxCpH_border-top-color: #dddddd;
  --mixin-95Ev3Fnv5nxCpH_border-top-style: solid;
  --mixin-95Ev3Fnv5nxCpH_border-top-width: 1px;
  --mixin-95Ev3Fnv5nxCpH_border-bottom-left-radius: 3px;
  --mixin-95Ev3Fnv5nxCpH_border-bottom-right-radius: 3px;
  --mixin-95Ev3Fnv5nxCpH_border-top-left-radius: 3px;
  --mixin-95Ev3Fnv5nxCpH_border-top-right-radius: 3px;
  --mixin-95Ev3Fnv5nxCpH_font-family: "Inconsolata";
  --mixin-95Ev3Fnv5nxCpH_padding-bottom: 1px;
  --mixin-95Ev3Fnv5nxCpH_padding-left: 4px;
  --mixin-95Ev3Fnv5nxCpH_padding-right: 4px;
  --mixin-95Ev3Fnv5nxCpH_padding-top: 1px;
  --mixin-95Ev3Fnv5nxCpH_white-space: pre-wrap;
  --mixin-eUQxRXhc2z6LN1_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-eUQxRXhc2z6LN1_border-bottom-color: #dddddd;
  --mixin-eUQxRXhc2z6LN1_border-bottom-style: solid;
  --mixin-eUQxRXhc2z6LN1_border-bottom-width: 1px;
  --mixin-eUQxRXhc2z6LN1_border-left-color: #dddddd;
  --mixin-eUQxRXhc2z6LN1_border-left-style: solid;
  --mixin-eUQxRXhc2z6LN1_border-left-width: 1px;
  --mixin-eUQxRXhc2z6LN1_border-right-color: #dddddd;
  --mixin-eUQxRXhc2z6LN1_border-right-style: solid;
  --mixin-eUQxRXhc2z6LN1_border-right-width: 1px;
  --mixin-eUQxRXhc2z6LN1_border-top-color: #dddddd;
  --mixin-eUQxRXhc2z6LN1_border-top-style: solid;
  --mixin-eUQxRXhc2z6LN1_border-top-width: 1px;
  --mixin-eUQxRXhc2z6LN1_border-bottom-left-radius: 3px;
  --mixin-eUQxRXhc2z6LN1_border-bottom-right-radius: 3px;
  --mixin-eUQxRXhc2z6LN1_border-top-left-radius: 3px;
  --mixin-eUQxRXhc2z6LN1_border-top-right-radius: 3px;
  --mixin-eUQxRXhc2z6LN1_font-family: "Inconsolata";
  --mixin-eUQxRXhc2z6LN1_padding-bottom: 3px;
  --mixin-eUQxRXhc2z6LN1_padding-left: 6px;
  --mixin-eUQxRXhc2z6LN1_padding-right: 6px;
  --mixin-eUQxRXhc2z6LN1_padding-top: 3px;
  --mixin-eUQxRXhc2z6LN1_white-space: pre-wrap;
  --mixin-pr9wpP7VL_liT4_display: flex;
  --mixin-pr9wpP7VL_liT4_flex-direction: column;
  --mixin-pr9wpP7VL_liT4_align-items: stretch;
  --mixin-pr9wpP7VL_liT4_justify-content: flex-start;
  --mixin-pr9wpP7VL_liT4_list-style-position: outside;
  --mixin-pr9wpP7VL_liT4_padding-left: 40px;
  --mixin-pr9wpP7VL_liT4_position: relative;
  --mixin-pr9wpP7VL_liT4_list-style-type: decimal;
  --mixin-pr9wpP7VL_liT4_white-space: pre-wrap;
  --mixin-yaw295I7Ir-oVU_display: flex;
  --mixin-yaw295I7Ir-oVU_flex-direction: column;
  --mixin-yaw295I7Ir-oVU_align-items: stretch;
  --mixin-yaw295I7Ir-oVU_justify-content: flex-start;
  --mixin-yaw295I7Ir-oVU_list-style-position: outside;
  --mixin-yaw295I7Ir-oVU_padding-left: 40px;
  --mixin-yaw295I7Ir-oVU_position: relative;
  --mixin-yaw295I7Ir-oVU_list-style-type: disc;
  --mixin-yaw295I7Ir-oVU_white-space: pre-wrap;
  --mixin-6q_X56sdUCmEwn_color: #3291ff;
  --mixin-6q_X56sdUCmEwn_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-3B-_qP9seol7kh_font-family);
  font-size: var(--mixin-3B-_qP9seol7kh_font-size);
  font-weight: var(--mixin-3B-_qP9seol7kh_font-weight);
  font-style: var(--mixin-3B-_qP9seol7kh_font-style);
  color: var(--mixin-3B-_qP9seol7kh_color);
  text-align: var(--mixin-3B-_qP9seol7kh_text-align);
  text-transform: var(--mixin-3B-_qP9seol7kh_text-transform);
  line-height: var(--mixin-3B-_qP9seol7kh_line-height);
  letter-spacing: var(--mixin-3B-_qP9seol7kh_letter-spacing);
  white-space: var(--mixin-3B-_qP9seol7kh_white-space);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-WbubmF4KTpzMVr_color);
  font-size: var(--mixin-WbubmF4KTpzMVr_font-size);
  font-weight: var(--mixin-WbubmF4KTpzMVr_font-weight);
  letter-spacing: var(--mixin-WbubmF4KTpzMVr_letter-spacing);
  line-height: var(--mixin-WbubmF4KTpzMVr_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-qzFj9Q0-lZkAFG_color);
  font-size: var(--mixin-qzFj9Q0-lZkAFG_font-size);
  font-weight: var(--mixin-qzFj9Q0-lZkAFG_font-weight);
  letter-spacing: var(--mixin-qzFj9Q0-lZkAFG_letter-spacing);
  line-height: var(--mixin-qzFj9Q0-lZkAFG_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-p2JIP35CLvjQ0N_color);
  font-size: var(--mixin-p2JIP35CLvjQ0N_font-size);
  font-weight: var(--mixin-p2JIP35CLvjQ0N_font-weight);
  line-height: var(--mixin-p2JIP35CLvjQ0N_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-XCSXXrYijO_3yD_color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-CIELdRB-Px_QxG_color);
  padding-left: var(--mixin-CIELdRB-Px_QxG_padding-left);
  border-left: var(--mixin-CIELdRB-Px_QxG_border-left-width)
    var(--mixin-CIELdRB-Px_QxG_border-left-style)
    var(--mixin-CIELdRB-Px_QxG_border-left-color);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-S9kJ3cdMxeWZjx_color);
  font-size: var(--mixin-S9kJ3cdMxeWZjx_font-size);
  font-weight: var(--mixin-S9kJ3cdMxeWZjx_font-weight);
  letter-spacing: var(--mixin-S9kJ3cdMxeWZjx_letter-spacing);
  line-height: var(--mixin-S9kJ3cdMxeWZjx_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-xHFAqjee80wsJI_color);
  font-size: var(--mixin-xHFAqjee80wsJI_font-size);
  font-weight: var(--mixin-xHFAqjee80wsJI_font-weight);
  letter-spacing: var(--mixin-xHFAqjee80wsJI_letter-spacing);
  line-height: var(--mixin-xHFAqjee80wsJI_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-i06J9DFARKSUor_color);
  font-size: var(--mixin-i06J9DFARKSUor_font-size);
  font-weight: var(--mixin-i06J9DFARKSUor_font-weight);
  letter-spacing: var(--mixin-i06J9DFARKSUor_letter-spacing);
  line-height: var(--mixin-i06J9DFARKSUor_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-95Ev3Fnv5nxCpH_font-family);
  border-radius: var(--mixin-95Ev3Fnv5nxCpH_border-top-left-radius)
    var(--mixin-95Ev3Fnv5nxCpH_border-top-right-radius)
    var(--mixin-95Ev3Fnv5nxCpH_border-bottom-right-radius)
    var(--mixin-95Ev3Fnv5nxCpH_border-bottom-left-radius);
  padding: var(--mixin-95Ev3Fnv5nxCpH_padding-top)
    var(--mixin-95Ev3Fnv5nxCpH_padding-right)
    var(--mixin-95Ev3Fnv5nxCpH_padding-bottom)
    var(--mixin-95Ev3Fnv5nxCpH_padding-left);
  border-top: var(--mixin-95Ev3Fnv5nxCpH_border-top-width)
    var(--mixin-95Ev3Fnv5nxCpH_border-top-style)
    var(--mixin-95Ev3Fnv5nxCpH_border-top-color);
  border-right: var(--mixin-95Ev3Fnv5nxCpH_border-right-width)
    var(--mixin-95Ev3Fnv5nxCpH_border-right-style)
    var(--mixin-95Ev3Fnv5nxCpH_border-right-color);
  border-bottom: var(--mixin-95Ev3Fnv5nxCpH_border-bottom-width)
    var(--mixin-95Ev3Fnv5nxCpH_border-bottom-style)
    var(--mixin-95Ev3Fnv5nxCpH_border-bottom-color);
  border-left: var(--mixin-95Ev3Fnv5nxCpH_border-left-width)
    var(--mixin-95Ev3Fnv5nxCpH_border-left-style)
    var(--mixin-95Ev3Fnv5nxCpH_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-eUQxRXhc2z6LN1_font-family);
  border-radius: var(--mixin-eUQxRXhc2z6LN1_border-top-left-radius)
    var(--mixin-eUQxRXhc2z6LN1_border-top-right-radius)
    var(--mixin-eUQxRXhc2z6LN1_border-bottom-right-radius)
    var(--mixin-eUQxRXhc2z6LN1_border-bottom-left-radius);
  padding: var(--mixin-eUQxRXhc2z6LN1_padding-top)
    var(--mixin-eUQxRXhc2z6LN1_padding-right)
    var(--mixin-eUQxRXhc2z6LN1_padding-bottom)
    var(--mixin-eUQxRXhc2z6LN1_padding-left);
  border-top: var(--mixin-eUQxRXhc2z6LN1_border-top-width)
    var(--mixin-eUQxRXhc2z6LN1_border-top-style)
    var(--mixin-eUQxRXhc2z6LN1_border-top-color);
  border-right: var(--mixin-eUQxRXhc2z6LN1_border-right-width)
    var(--mixin-eUQxRXhc2z6LN1_border-right-style)
    var(--mixin-eUQxRXhc2z6LN1_border-right-color);
  border-bottom: var(--mixin-eUQxRXhc2z6LN1_border-bottom-width)
    var(--mixin-eUQxRXhc2z6LN1_border-bottom-style)
    var(--mixin-eUQxRXhc2z6LN1_border-bottom-color);
  border-left: var(--mixin-eUQxRXhc2z6LN1_border-left-width)
    var(--mixin-eUQxRXhc2z6LN1_border-left-style)
    var(--mixin-eUQxRXhc2z6LN1_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-pr9wpP7VL_liT4_display);
  flex-direction: var(--mixin-pr9wpP7VL_liT4_flex-direction);
  align-items: var(--mixin-pr9wpP7VL_liT4_align-items);
  justify-content: var(--mixin-pr9wpP7VL_liT4_justify-content);
  list-style-position: var(--mixin-pr9wpP7VL_liT4_list-style-position);
  padding-left: var(--mixin-pr9wpP7VL_liT4_padding-left);
  position: var(--mixin-pr9wpP7VL_liT4_position);
  list-style-type: var(--mixin-pr9wpP7VL_liT4_list-style-type);
  flex-column-gap: var(--mixin-pr9wpP7VL_liT4_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-yaw295I7Ir-oVU_display);
  flex-direction: var(--mixin-yaw295I7Ir-oVU_flex-direction);
  align-items: var(--mixin-yaw295I7Ir-oVU_align-items);
  justify-content: var(--mixin-yaw295I7Ir-oVU_justify-content);
  list-style-position: var(--mixin-yaw295I7Ir-oVU_list-style-position);
  padding-left: var(--mixin-yaw295I7Ir-oVU_padding-left);
  position: var(--mixin-yaw295I7Ir-oVU_position);
  list-style-type: var(--mixin-yaw295I7Ir-oVU_list-style-type);
  flex-column-gap: var(--mixin-yaw295I7Ir-oVU_flex-column-gap);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-6q_X56sdUCmEwn_color);
}
